@{
    ViewData["Title"] = "AccessDenied";
}

<h1>@ViewBag.accesdenied.FTranslation </h1>
<h6>@ViewBag.accessmess.FTranslation </h6>
<br />

    
<form asp-action="Index" class="form-inline">
    <br />
    <button class="btn btn-warning my-2 my-sm-0" type="submit">
        @ViewBag.backtohome.FTranslation
    </button>
</form>