
@{
    ViewData["Title"] = "ChampsVides";
}

<h1>Erreur détectée</h1>
<h6>Au moins un des champs était vide, veuillez resaisir vos informations;</h6>
<br />
<br />
<form asp-action="preRegister" class="form-inline">
    <br />
    <button class="btn btn-dark my-2 my-sm-0" type="submit">
        Retour à la page précedente
    </button>
</form>