
@{
    ViewData["Title"] = "ErreurConnexionEmailIntrouvable";
}

<h1>@ViewBag.errordetect.FTranslation</h1>
<h6>@ViewBag.errormail.FTranslation</h6>
<br />
<br />
<div class="row">
    <form asp-action="Connexion" class="form-inline">
        <br />
        <button class="btn btn-dark my-2 my-sm-0" type="submit">
            <img src="~/arrow_left.ico" alt="" width="26" height="26" />
            @ViewBag.backtologin.FTranslation
        </button>
    </form>

</div>